div {
  border: 1px solid red;
}

.App {
  background-color: #FFDD83;
}

/*<--Main Header */
.App-header {
  background-color: #00235B;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFDD83;
  border-radius: 10px;
  position: relative;
  line-height: .5em;
}

.logo-container {
  position: absolute;
  left: 3vw;
}

.pokemon_logo { 
  max-height: 10vh;
  max-width: 25vw;
}


.header-text {
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;  

}

.header-text h4 {
  margin-bottom: 35px;
}

.header-searchBar {
  position: absolute;
  right: 3vw;
}

.intro-container {
  margin-top: 5px;
  max-width: 75vw;
  background-color: #FFF4E0;
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}

.intro-container{
  width: 90%;
  border: 3px solid #98DFD6;
  border-radius:25px;
}

.intro-text {
  display: flex;  
}

.pachurisu {
  max-width: 10vw;
  border-radius: 25%;
  border: 1px solid blue;   
}
